

body {
  background: #eee;
  color: red;
}

.app-main-container {
  margin: 20px;
  min-height: 400px;
}

.pretty_container {
  border: none;
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}